
@model MonthlyReport.Models.SpecialityLeasingModel
@{}



<p class="page">
    <h2 style="font-family : Zahrah; font-weight : bold; font-style : italic"><u>Speciality Leasing</u></h2>
    <br />
    <div class="">
        <table class=" table" style="width:100% ;border : none; border-collapse : collapse" !important>
            <tr style=" padding-bottom : 0px" class="" !important>
                <th style="width : 14%; border-right : 1px solid black; border-bottom : 2px solid Black; border-top : 2px solid Black; vertical-align : middle" class="textalignmiddle"><h5 class="closetotable">Tenant</h5></th>
                <th style="width : 8%; border-right : 1px solid black; border-bottom : 2px solid Black; border-top : 2px solid Black; vertical-align : middle" class="textaligncenter textalignmiddle"><h5 class="closetotable">Sector</h5></th>
                <th style="width : 8%; border-right : 1px solid black; border-bottom : 2px solid Black; border-top : 2px solid Black;vertical-align : middle" class="textaligncenter textalignmiddle"><h5 class="closetotable">Unit No.</h5></th>
                <th style="width : 8%; border-right : 1px solid black;border-bottom : 2px solid Black; border-top : 2px solid Black; vertical-align : middle" class="textaligncenter textalignmiddle"><h5 class="closetotable">GLA</h5></th>
                <th style="width : 8%; border-right : 1px solid black; border-bottom : 2px solid Black; border-top : 2px solid Black; vertical-align : middle" class="textaligncenter textalignmiddle"><h5 class="closetotable">Term</h5></th>
                <th style="width : 8%; border-right : 1px solid black; border-bottom : 2px solid Black; border-top : 2px solid Black; vertical-align : middle" class="textaligncenter textalignmiddle"><h5 class="closetotable">Gross Rent<br />Budget</h5></th>
                <th style="width : 8%; border-right : 1px solid black; border-bottom : 2px solid Black; border-top : 2px solid Black; vertical-align : middle" class="textaligncenter textalignmiddle"><h5 class="closetotable">Gross Rent<br />Actual</h5></th>
                <th style="width : 8%; border-right : 2px solid black; border-bottom : 2px solid Black; border-top : 2px solid Black; vertical-align : middle" class="textaligncenter textalignmiddle"><h5 class="closetotable">% of<br />Sales</h5></th>
                <th style="width : 30%; vertical-align : middle; border-bottom : 2px solid Black; border-top : 2px solid Black;" class="textalignmiddle"><h5 class="closetotable">Comments</h5></th>
            </tr>
            @foreach (var obj in Model.specialityLeasings)
            {
                <tr class="" style="font-size : 12px; font-family : Metric">
                    <td style="width : 14%; border-right : 1px solid black">@obj.Tenant</td>
                    <td style="width : 8%; border-right : 1px solid black">@obj.Sector</td>
                    <td style="width : 8%; border-right : 1px solid black">@obj.UnitNo</td>
                    <td style="width : 8%; border-right : 1px solid black">@obj.Gla</td>
                    <td style="width : 8%; border-right : 1px solid black">@obj.Term</td>
                    <td style="width : 8%; border-right : 1px solid black" class="textboxrightalign">$@obj.GrossRentBudget</td>
                    <td style="width : 8%; border-right : 1px solid black" class="textboxrightalign">$@obj.GrossRentActual</td>
                    <td style="width : 8%; border-right : 2px solid black" class="textboxrightalign">$ @obj.SalesPercentage</td>
                    <td style="width : 30%;">@obj.Comments</td>
                </tr>
            }
        </table>

    </div>
    <br />
    <br />

    <div class="" style="border-bottom : 2px solid black">
        <h5 style="font-family : Metric; font-weight : bold"><strong>SPECIAL PROJECTS</strong></h5>
    </div>
    <div class="row">
        <table class=" table" style="width:100% ;border : none; border-collapse : collapse" !important>
            @foreach (var obj in Model.specialProjects)
            {
                <tr class="" style=" font-family : Metric; font-size : 12px; border-">
                    <td style="width : 30%; border-right : 1px solid black"><div class="container">@obj.Title </div></td>
                    <td style="width : 70%; "><div class="container">@obj.Content </div></td>
                </tr>
            }
        </table>
    </div>

</p>
