@model MonthlyReport.Models.SpecialityLeasingModel
@{
    ViewBag.Title = "Speciality Leasing";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 0;
    int j = 0;
}

<script type="text/javascript">
    $(document).ready(function () {
        var mod = @Html.Raw(Json.Encode(Model));
      //  alert(JSON.stringify(mod));
        for (var j = 1; j < 10; j++) {
            var dropdown = document.getElementById("Sector" + j);
            if (dropdown != null) {
                dropdown.value = mod.specialityLeasings[j - 1].Sector;
            }
        }

    });


    function resetform() {
        $("input:text").val("");
        var dropdown = document.getElementById("Sector" + j);
        for (var j = 1; j < 10; j++) {
            var dropdown = document.getElementById("Sector" + j);
            if (dropdown != null) {
                dropdown.value = "Sector";
            }
        }
        $("textarea").val("");
    }


</script>


<div class="row">
    <div class="col-sm-10">

    </div>
    <div class="col-sm-1">
        <button class="btn btn-primary" onclick="resetform();">Reset</button>
    </div>
    <div class="col-sm-1">@Html.ActionLink("Cancel", "Index", "SpecialtyLeasing", null, new { @class = "btn btn-primary" })</div>
</div>
<br />
<br />


@using (Html.BeginForm("SpecialityEdit", "SpecialtyLeasing", FormMethod.Post))
{
<div class="row">
    <table class=" table" style="width:100% ;border : none; border-collapse : collapse" !important>
        <tr style="border-bottom : 2px solid Black; border-top : 2px solid Black; padding-bottom : 10px" class="MetricBold" !important>
            <th style="width : 14%; border-right : 1px solid black; vertical-align : middle" class="textalignmiddle"><h5 class="closetotable">Tenant</h5></th>
            <th style="width : 8%; border-right : 1px solid black; vertical-align : middle" class="textaligncenter textalignmiddle"><h5 class="closetotable">Sector</h5></th>
            <th style="width : 8%; border-right : 1px solid black;vertical-align : middle" class="textaligncenter textalignmiddle"><h5 class="closetotable">Unit No.</h5></th>
            <th style="width : 8%; border-right : 1px solid black; vertical-align : middle" class="textaligncenter textalignmiddle"><h5 class="closetotable">GLA</h5></th>
            <th style="width : 8%; border-right : 1px solid black; vertical-align : middle" class="textaligncenter textalignmiddle"><h5 class="closetotable">Term</h5></th>
            <th style="width : 10%; border-right : 1px solid black; vertical-align : middle" class="textaligncenter textalignmiddle"><h5 class="closetotable">Gross Rent<br />Budget</h5></th>
            <th style="width : 10%; border-right : 1px solid black; vertical-align : middle" class="textaligncenter textalignmiddle"><h5 class="closetotable">Gross Rent<br />Actual</h5></th>
            <th style="width : 10%; border-right : 2px solid black; vertical-align : middle" class="textaligncenter textalignmiddle"><h5 class="closetotable">% of<br />Sales</h5></th>
            <th style="width : 24%; vertical-align : middle" class="textalignmiddle"><h5 class="closetotable">Comments</h5></th>
        </tr>
        @foreach (var obj in Model.specialityLeasings)
        {
            i++;
            <tr class="MetricName">
                <td style="width : 14%; border-right : 1px solid black">
                    <input type="text" value="@obj.Tenant" name=@("Tenant" + i) id=@("Tenant" + i) class="form-control" style=" width : 100%;font-size : 14px; border : none" />
                </td>
                <td style="width : 8%; border-right : 1px solid black">
                    @*<input type="text" value="@obj.Sector" name=@("Sector" + i) id=@("Sector" + i) class="form-control" style=" width : 100%;font-size : 13px; border : none" />*@
                    <select id=@("Sector" + i) name=@("Sector" + i) class=" form-control" style="font-size : 14px">
                        <option value="Convenience">Convenience</option>
                        <option value="Lifestyle">Lifestyle</option>
                        <option value="Power Center I">Power Center I</option>
                        <option value="Power Center II">Power Center II</option>
                        <option value="Phase IV & V">Phase IV & V</option>
                        <option value="Phase VI & VII">Phase VI & VII</option>
                        <option value="Square">Square</option>
                        <option value="Sector">Sector</option>

                    </select>
                </td>
                <td style="width : 8%; border-right : 1px solid black">
                    <input type="text" value="@obj.UnitNo" name=@("UnitNo" + i) id=@("UnitNo" + i) class="form-control" style=" width : 100%;font-size : 14px; border : none" />
                </td>
                <td style="width : 8%; border-right : 1px solid black">
                    <input type="text" value="@obj.Gla" name=@("Gla" + i) id=@("Gla" + i) class="form-control" style=" width : 100%;font-size : 14px; border : none" />
                </td>
                <td style="width : 8%; border-right : 1px solid black">
                    <input type="text" value="@obj.Term" name=@("Term" + i) id=@("Term" + i) class="form-control" style=" width : 100%;font-size : 14px; border : none" />
                </td>
                <td style="width : 10%; border-right : 1px solid black">
                    <div style="float : left; width : 8%">$</div><div style="float: left; width : 90%;">
                        <input type="text" value="@obj.GrossRentBudget" name=@("GrossRentBudget" + i) id=@("GrossRentBudget" + i) class="form-control textboxrightalign" style=" width : 100%;font-size : 14px; border : none" onblur="focuslost(this)" />
                    </div>
                </td>
                <td style="width : 10%; border-right : 1px solid black">
                    <div style="float : left; width : 8%">$</div><div style="float: left; width : 90%;">
                        <input type="text" value="@obj.GrossRentActual" name=@("GrossRentActual" + i) id=@("GrossRentActual" + i) class="form-control textboxrightalign" style=" width : 100%;font-size : 14px; border : none" onblur="focuslost(this)" />
                    </div>
                </td>
                <td style="width : 10%; border-right : 2px solid black">
                    <div style="float : left; width : 8%">$</div><div style="float: left; width : 90%;">
                        <input type="text" value="@obj.SalesPercentage" name=@("SalesPercentage" + i) id=@("SalesPercentage" + i) class="form-control textboxrightalign" style=" width : 100%;font-size : 14px; border : none" onblur="focuslost(this)" />
                    </div>
                </td>
                <td style="width : 24%;"> <textarea name=@("comment" + i) rows="3" style="width : 100%; font-size : 14px; border : none" class="">@obj.Comments</textarea></td>
            </tr>
        }
    </table>

</div>
    <br />
    <br />

    <div class="row MetricBold" style="border-bottom : 1px solid black">
        <h5><strong>SPECIAL PROJECTS</strong></h5>
    </div>
    <div class="row">
        <table class=" table" style="width:100% ;border : none; border-collapse : collapse" !important>
            @foreach (var obj in Model.specialProjects)
            {
                j++;
                <tr class="MetricName">
                    <td style="width : 30%; border-right : 2px solid black">
                        <textarea name=@("Title" + j) rows="3" style="width : 100%; border : none; font-size : 14px; " class="">@obj.Title</textarea>
                    </td>
                    <td style="width : 70%; ">  <textarea name=@("Content" + j) rows="5" style="width : 100%; border : none ; font-size : 14px; " class="">@obj.Content</textarea> </td>
                </tr>
            }
        </table>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-10"></div><div class="col-sm-2"> <input type="submit" value="Save" class="btn btn-primary" /></div>
    </div>
}

