@model IEnumerable<MonthlyReport.Models.Legal>
@{
    ViewBag.Title = "Legal and Exposures";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 0;
    int role = Convert.ToInt32(Session["roleid"].ToString());
}

@if (role == 1 || role == 3)
{
<div class="row">
    <div class="col-md-10">

    </div>
    <div class="col-md-2">@Html.ActionLink("Edit", "LegalEdit", "Legal", null, new { @class = "btn btn-primary" })</div>
</div>
<br />
}
<br />

<div class="container">
    <div class="row">

        <table class=" table" style="width:100% ;border : none; border-collapse : collapse"  !important>
            <tr style="border-bottom : 2px solid Black; padding-bottom : 0px" class="MetricBold textaligncenter" !important>
                <th style="width : 25%; vertical-align :middle"><h5 class="closetotable">Tenant</h5></th>
                <th style="width : 13%; vertical-align : middle"><h5 class="closetotable">AR</h5></th>
                <th style="width : 13%; vertical-align : middle"><h5 class="closetotable">Probabilty<br />of collection</h5></th>
                <th style="width : 49%; vertical-align : middle"><h5 class="closetotable">Comments</h5></th>
            </tr>
            @foreach (var obj in Model)
            {
                i++;
                <tr class="MetricName" >
                    <td style="width : 25% ;border-right : 1px solid black; font-size : 14px">
                        @*<input type="text" value="@obj.Tenant" name=@("Tenant" + i) id=@("Tenant" + i) class="form-control" style=" width : 100%;font-size : 16px; border : none" readonly />*@
                        @obj.Tenant
                    </td>
                    <td style="width : 13% ;border-right : 1px solid black; font-size : 14px" class="textboxrightalign">
                        
                            @*<input type="text" value="@obj.Ar" name=@("Ar" + i) id=@("Ar" + i) class="form-control" style=" width : 100%;font-size : 16px; border : none" readonly />*@
                           $ @obj.Ar
                        
                    </td>
                    <td style="width : 13% ;border-right : 2px solid black; font-size : 14px" class="textboxrightalign">
                       @obj.CollectionProb %                       
                    </td>
                    <td style="width : 49%">
                        @*<textarea name=@("comment" + i) rows="6" style="width : 100%; font-size : 14px; border : none" class="" readonly>@obj.Comments</textarea>*@
                        @obj.Comments
                    </td>
                </tr>
            }
        </table>
    </div>
</div>