@model MonthlyReport.Models.Financial
@{
    string rowHeader = "";
}


<p class=" page">
    <h2 style="font-family : Zahrah; font-weight : bold; font-style : italic"><u>Financial Overview</u></h2>
    <br />
    <div>

        <div class="">
            <div style="width : 50%; float : left">
                <h3 style="text-align : left;font-family : Zahrah; font-weight : bold; font-style : italic"><u>Important Updates</u></h3>
                    <textarea class=" rounded-bottom MetricName" id="exampleFormControlTextarea2" name="importantUpdate" rows="16" style="width : 90%; font-size : 12px; font-family : Metric; line-height : 1.5;" readonly>@Model.importantUpdate</textarea>
                </div>
            </div>
            <div style="width : 50%; float : left">
                <h3 style="text-align : left;font-family : Zahrah; font-weight : bold; font-style : italic"><u>Master Plan Updates</u></h3>
                <div class="form-group">
                    <textarea class="rounded-bottom MetricName" id="exampleFormControlTextarea3" name="masterPlanUpdate" rows="16" style="width : 90%; font-size : 12px; font-family : Metric; line-height : 1.5;" readonly>@Model.masterPlanUpdate</textarea>
                </div>
            </div>
        </div>
        <br />
   
    </p>
<p class="page">

       
            <div style="width : 50%">
                <h2 style="text-align : left;font-family : Zahrah; font-weight : bold; font-style : italic"><u>Financial Overview Consolidated</u></h2>
            </div>
   
        <br />
    <div class="row">

        <table class=" table" style="width:100% ;border : none; border-collapse : collapse" !important>
            <tr style="" class="">
                <th style="width: 16%; padding-bottom : 0px; text-align : center"></th>
                <th style="width: 24%; padding-bottom : 0px; text-align : center" colspan="3"><h4 class="closetotable">YEAR-TO-DATE</h4></th>
                <th style="width: 24%; padding-bottom : 0px;text-align : center" colspan="3"><h4 class="closetotable">FORECAST</h4></th>
                <th style="width: 36%;padding-bottom : 0px; text-align : center" colspan="2"><h4 class="closetotable">COMMENTS</h4></th>
            </tr>
            <tr style="" !important>
                <th style="width : 16%; border-bottom : 1px solid Black; " class=" textaligncenter" !important></th>
                <th style="width : 8%; border-bottom : 1px solid Black;" class=" textaligncenter" !important><h5 class="closetotable"> Act</h5></th>
                <th style="width : 8%; border-bottom : 1px solid Black; " class=" textaligncenter" !important><h5 class="closetotable">Bud</h5></th>
                <th style="width : 8%; border-bottom : 1px solid Black; " class=" textaligncenter" !important><h5 class="closetotable">Var</h5></th>
                <th style="width : 8%; border-bottom : 1px solid Black; " class=" textaligncenter" !important><h5 class="closetotable">Fcst</h5></th>
                <th style="width : 8%; border-bottom : 1px solid Black;" class=" textaligncenter" !important><h5 class="closetotable">Ann Bud</h5></th>
                <th style="width : 8%; border-bottom : 1px solid Black; " class=" textaligncenter" !important><h5 class="closetotable">Var</h5></th>
                <th style="width : 18%; border-bottom : 1px solid Black; " class=" textaligncenter" !important><h5 class="closetotable">Year-to-Date</h5></th>
                <th style="width : 18%; border-bottom : 1px solid Black;" class=" textaligncenter" !important><h5 class="closetotable">Forecast</h5></th>
            </tr>
            @for (int i = 1; i <= 10; i++)
            {
                rowHeader = "";

                switch (i)
                {
                    case 1:
                        rowHeader = "Revenues";
                        break;
                    case 2:
                        rowHeader = "Recoverable Exp.";
                        break;
                    case 3:
                        rowHeader = "Deprec Recov Improv.";
                        break;
                    case 4:
                        rowHeader = "Recov Property Taxes";
                        break;
                    case 5:
                        rowHeader = "NOI";
                        break;
                    case 6:
                        rowHeader = "Leasing Costs";
                        break;
                    case 7:
                        rowHeader = "Capital";
                        break;
                    case 8:
                        rowHeader = "Cash Flow";
                        break;
                    case 9:
                        rowHeader = "Recovery Ration CAM & TAX";
                        break;
                    case 10:
                        rowHeader = "Overall vacancy ratio";
                        break;


                }

                <tr style="font-family : Metric ; font-size : 12px;">
                    <td style="width : 16%; border-right : 1px solid black" class="MetricName" !important>@rowHeader</td>
                    <td style="width : 8% ;border-right : 1px solid black" class="MetricName textboxrightalign" !important>
                        $ @Model.revenues[i - 1].act

                    </td>
                    <td style="width : 8% ;border-right : 1px solid black" class="MetricName textboxrightalign" !important>

                        $ @Model.revenues[i - 1].bud

                    </td>
                    <td style="width : 8% ;border-right : 2px solid black" class="MetricName textboxrightalign" !important>
                        $ @Model.revenues[i - 1].var

                    </td>
                    <td style="width : 8% ;border-right : 1px solid black;" class="MetricName textboxrightalign" !important>

                        $ @Model.revenues[i - 1].actfor

                    </td>
                    <td style="width : 8% ;border-right : 1px solid black" class="MetricName textboxrightalign" !important>

                        $ @Model.revenues[i - 1].budfor

                    </td>
                    <td style="width : 8% ;border-right : 2px solid black" class="MetricName textboxrightalign" !important>
                        $ @Model.revenues[i - 1].varfor

                    </td>
                    <td style="width : 18% ;border-right : 2px solid black" class="MetricName" !important>
                        @Model.revenues[i - 1].comment
                    </td>
                    <td style="width : 18% " class="MetricName" !important>
                        @*<textarea class="" name="action" + @i rows="2" style="width : 100%; font-size : 15px" readonly>@Model.revenues[i-1].action</textarea>*@
                        @Model.revenues[i - 1].action
                    </td>
                </tr>

            }
            <tr style=" " class="MetricBold" !important>
                <td style="width : 16%; border-right : 1px solid black; border-bottom : 2px solid black; border-top : 2px solid black"><h5  style="font-family : Metric; font-weight : bold;">Adjusted NOI for all Non Cash Items</h5></td>
                <td style="width : 8% ;border-right : 1px solid black; border-bottom : 2px solid black; border-top : 2px solid black" class="textboxrightalign closetotable">$ @Model.revenues[10].act</td>
                <td style="width : 8% ;border-right : 1px solid black; border-bottom : 2px solid black; border-top : 2px solid black" class="textboxrightalign closetotable">$ @Model.revenues[10].bud</td>
                <td style="width : 8% ;border-right : 2px solid black; border-bottom : 2px solid black; border-top : 2px solid black" class="textboxrightalign closetotable">$ @Model.revenues[10].var</td>
                <td style="width : 8% ;border-right : 1px solid black; border-bottom : 2px solid black; border-top : 2px solid black" class="textboxrightalign closetotable">$ @Model.revenues[10].actfor</td>
                <td style="width : 8% ;border-right : 1px solid black; border-bottom : 2px solid black; border-top : 2px solid black" class="textboxrightalign closetotable">$ @Model.revenues[10].budfor</td>
                <td style="width : 8% ;border-right : 2px solid black; border-bottom : 2px solid black; border-top : 2px solid black" class="textboxrightalign closetotable">$ @Model.revenues[10].varfor</td>
                <td style="width : 18% ;border-right : 2px solid black; border-bottom : 2px solid black; border-top : 2px solid black" class="closetotable">@Model.revenues[10].comment</td>
                <td style="width : 18% ; border-bottom : 2px solid black; border-top : 2px solid black" class="closetotable"> @Model.revenues[10].action</td>
            </tr>

        </table>
    </div>
</p>