@model List<MonthlyReport.Models.FinancialLoan>
@{
    int i = 0;
    string rowHeader = string.Empty;
}


<p class="page">
    <h2 style="font-family : Zahrah; font-weight : bold; font-style : italic"><u>Financial Loan</u></h2>
    <br />
    <div class="">
        <table class=" table" style="width:100% ;border : none; border-collapse : collapse" !important>
            <tr style=" text-align : center;" class="" !important>
                <th style="width : 20%; border-right : 1px solid black; border-bottom : 2px solid Black; border-top : 2px solid Black; text-align : center; vertical-align : middle" class=""><h5 class="closetotable">Phase</h5></th>
                <th style="width : 10%; border-right : 1px solid black; border-bottom : 2px solid Black; border-top : 2px solid Black; vertical-align : middle" class=""><h5 class="closetotable">Lender</h5></th>
                <th style="width : 20%; border-right : 1px solid black; border-bottom : 2px solid Black; border-top : 2px solid Black; vertical-align : middle" class=""><h5 class="closetotable">Loan Balance (M$)</h5><h6 class="closetotable">@Model[0].date </h6></th>
                <th style="width : 10%; border-right : 1px solid black; border-bottom : 2px solid Black; border-top : 2px solid Black; vertical-align : middle" class=""><h5 class="closetotable">Rate</h5></th>
                <th style="width : 20%; border-right : 1px solid black; border-bottom : 2px solid Black; border-top : 2px solid Black; vertical-align : middle" class=""><h5 class="closetotable">Term </h5></th>
                <th style="width : 20%; vertical-align : middle; border-bottom : 2px solid Black; border-top : 2px solid Black; " class=""><h5 class="closetotable">Expiry Term</h5></th>
            </tr>
            @foreach (var obj in Model)
            {
                i++;

                switch (i)
                {
                    case 1:
                        rowHeader = "I-II";
                        break;
                    case 2:
                        rowHeader = "I-II";
                        break;
                    case 3:
                        rowHeader = "I-II";
                        break;
                    case 4:
                        rowHeader = "II";
                        break;
                    case 5:
                        rowHeader = "III";
                        break;
                    case 6:
                        rowHeader = "III-S2";
                        break;
                    case 7:
                        rowHeader = "III-S11";
                        break;
                    case 8:
                        rowHeader = "IV - VI";
                        break;
                    case 9:
                        rowHeader = "IV - VI (5C&7A)";
                        break;
                    case 10:
                        rowHeader = "Total";
                        break;
                }

                if (i == Model.Count())
                {
                    <tr style=" font-family : Metric; font-size : 12px" class="" !important>
                        <td style="width : 20%; font-family : Metric; font-weight : bold; border-right : 1px solid black; border-bottom : 1px solid Black; border-top : 1px solid black;  text-align : center; font-size : 16px;" class="closetotablerow">@rowHeader</td>
                        <td style="width : 10%; border-right : 1px solid black; border-bottom : 1px solid Black; border-top : 1px solid black;  ">@obj.Lender</td>
                        <td style="width : 20%; border-right : 1px solid black; border-bottom : 1px solid Black; border-top : 1px solid black; text-align : right; ">@obj.Loanbalance</td>
                        <td style="width : 10%; border-right : 1px solid black; border-bottom : 1px solid Black; border-top : 1px solid black; text-align : right;">@obj.Rate</td>
                        <td style="width : 20%; border-right : 1px solid black; border-bottom : 1px solid Black; border-top : 1px solid black; ">@obj.Term</td>
                        <td style="width : 20%; border-bottom : 1px solid Black; border-top : 1px solid black;  ">@obj.Expiryterm</td>

                    </tr>
                }
                else
                {
                    <tr class="" style="font-family : Metric; font-size : 12px" !important>
                        <td style="width : 20%; border-right : 1px solid black; text-align : center; font-size : 16px;" class="closetotablerow">@rowHeader</td>
                        <td style="width : 10%; border-right : 1px solid black">@obj.Lender</td>
                        <td style="width : 20%; border-right : 1px solid black; text-align : right;">@obj.Loanbalance</td>
                        <td style="width : 10%; border-right : 1px solid black; text-align : right;">@obj.Rate</td>
                        <td style="width : 20%; border-right : 1px solid black">@obj.Term</td>
                        <td style="width : 20%;">@obj.Expiryterm</td>

                    </tr>
                }
            }

        </table>
    </div>

</p>